$colorWhite: #fff;
$colorBeigeLight: #ede6d9;
$colorBeigeDark: #a48242;
$colorText: #10312b;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px; 

$font20: 1.25rem;
$font24: 1.518rem;
$font16: 1rem;

$fontW100: 100;
$fontW300: 300;
$fontW600: 600;

$fontHead: 'Stanley';
$fontBook: 'FuturaBook';
$fontHeavy: 'FuturaHeavy';

$uppercase: uppercase;

@mixin sm {
  @media (min-width:$sm) {
    @content
  }
}; 
@mixin md {
  @media (min-width:$md) {
    @content
  }
}; 
@mixin lg {
  @media (min-width:$lg) {
    @content
  }
}; 
@mixin xl {
  @media (min-width:$xl) {
    @content
  }
}; 
@mixin xxl {
  @media (min-width:$xxl) {
    @content
  }
};
  