body{
  font-family: $fontBook;
  background-color: $colorWhite;
  color: $colorText;
  font-size: $font20;
  line-height: 26px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.w-xl-auto{
  @include xl {width: auto!important;}
}

.mb{
  &-30{margin-bottom: 30px;}
  &-38{margin-bottom: 38px;}
}

.main{
  flex: 1 0 auto;
}
* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}
 
h1,h2,h3,h4{
  font-family: $fontHead;
  line-height: 3.875rem;
  text-transform: lowercase;
  margin: 0;
  @include sm {
    line-height: 5.875rem;
  }
}

h1{
  font-size: 3.875rem;
  margin-bottom: 18px;
  @include sm{
    font-size: 6.875rem;
  }
}

h2, h3{
  font-size: 2rem;
  line-height: 2.2rem;
  @include sm{
    font-size: 3.75rem;
    line-height: 4.88rem;
  }
}

h3{
  font-size: 1.875rem;
  line-height: 3.625rem;
}

.container-fluid{
  max-width: $xxl;
  padding-left: 1.313rem;
  padding-right: 1.313rem;
  @include xl{
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}

figure{
  margin: 0;
  padding: 0;
  font-size: 0;
}

.sub-title{
  letter-spacing: 4px;
  line-height: 1.875rem;
  word-spacing: 2px;
  &--m{
    margin-top: -11px;
    padding: 0 5px;
    margin-bottom: 21px;
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

.bg{
  &-beige{background-color: $colorBeigeLight;}
  &-beigeDark{background-color: $colorBeigeDark;}
  &-white{background-color: $colorWhite;}
  &-text{background-color:$colorText}
  &-pattern{
    background-image: url('./../images/pattern2.png');
    background-size: cover;
  }
  &-gray{background-color: #e7eae9;}
}

.color{
  &-beige{color: $colorBeigeDark;}
  &-white{color: $colorWhite;}
  &-text{color:$colorText}
}

.fs{
  &-xl{
    font-size: 2.875rem;
    line-height: 2.875rem;
    font-family: $fontHead;
    @include sm {
      font-size: 6.875rem;
      line-height: 5.625rem;
    }
  }
  &-22{
    font-size: 1rem;
    @include sm {
      font-size: 1.375rem;
    }
  }
  &-40{font-size: 2.5rem;}
}

.ls{
  &-200{
    letter-spacing: 2px;
  }
}