body{
  font-family: $fontBook;
  background-color: $colorWhite;
  color: $colorText;
  font-size: $fontSize;
  line-height: $fontSize + 6px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

.main{
  flex: 1 0 auto;
}

* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}
 
h1,h2,h3,h4{
  font-family: $fontHead;
}

figure{
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


  
 
 