.back_block {
    margin: 30px 0 50px 0;
    @media (max-width: 576px) {
        margin-bottom: 30px;
        margin-top: 15px;
    }
    a {
        color: #a48242;
        padding-left: 30px;
        text-decoration: underline;
        background: url(../images/icons/arrow-left.png) no-repeat left;
    }
}
.detail_slider_section {
    margin: 40px auto 60px;
    .detail_slider_parent {
        padding-right: 0;
        @media (max-width: 1199px) {
            padding: 0;
        }
    }
    @media (max-width: 576px) {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .hot_offer {
        background: #ede6d9;
        margin-left: -1px;
        padding: 60px 45px 40px;
        color: #a48242;
        @media (max-width: 576px) {
            padding: 40px 35px 40px;
        }
        @media (max-width: 530px) {
            padding: 40px 20px;
        }
        @media (max-width: 380px) {
            padding: 30px 10px;
        }
        .price_strong {
            font-size: 50px;
            margin-bottom: 50px;
            @media (max-width: 576px) {
                font-size: 40px;
                margin-bottom: 30px;
            }
        }
        p {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            @media (max-width: 576px) {
                margin-bottom: 15px;
            }
            img {
                max-width: 30px;
                margin-right: 25px;
                object-fit: contain;
            }
            strong {
                margin-right: 10px;
            }
        }
        a {
            text-transform: uppercase;
            text-decoration: underline;
            margin-right: 20px;
            @media (max-width: 576px){
                img{width: 30px;}
            }
        }
        .tel {
            font-size: 40px;
            line-height: 1;
            @media (max-width: 576px) {
                font-size: 30px;
            }
            @media (max-width: 360px) {
                font-size: 25px;
            }
        }
        button {
            margin: 10px 5px 20px 0;
            padding: 10px;
            font-size: 0.7rem;
            width: 45%;
            @include sm{
                margin: 10px 10px 30px 10px;
                padding: 15px;
                
                width: auto;
                font-size: 1rem;
            }
            @include md{
                min-width: 270px;
            }
            @include lg{
                min-width: 30%;
                margin-left: 0;
            }
        }
    }
    .marker {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 0;
        z-index: 1;
        @include sm{
            width: 70px;
            height: 70px;
        }
        img {
            object-fit: contain;
        }
    }
    .detail_slider {
        .swiper-item {
            max-height: 550px;
            width: 100%;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .detail-next {
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: pointer;
        }
        .detail-prev {
            position: absolute;
            left: 0;
            bottom: 0;
            cursor: pointer;
        }
        @media (max-width: 768px) {
            max-height: 500px;
            img {
                max-height: 500px;
            }
        }
        @media (max-width: 576px) {
            max-height: 440px;
            img {
                max-height: 440px;
            }
        }
        @media (max-width: 480px) {
            max-height: 380px;
            img {
                max-height: 380px;
            }
        }
        @media (max-width: 380px) {
            max-height: 320px;
            img {
                max-height: 320px;
            }
        }
    }
}
.bottom_slider_wrapper {
    .swiper-slide {
        min-height: initial;
    }
    .bottom-next {
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        @media (max-width: 1450px) {
            right: 0;
        }
    }
    .bottom-prev {
        position: absolute;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        @media (max-width: 1450px) {
            left: 0;
        }
    }
    .bottom_slider {
        .swiper-wrapper {
            align-items: center;
        }
        .swiper-item {
            max-height: 450px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.social {
    margin-top: 50px;
    margin-bottom: 50px;
    a {
        text-decoration: underline;
        padding-left: 35px;
        font-size: 0.8rem;
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: left;
        @include sm{
            background-size: 33px;
            font-size: 1rem;
            padding-left: 50px;
        }
    }
    a:hover {
        color: #a48242;
    }
    a:first-child {
        background-image: url(../images/icons/messenger.png);
        @include sm{
            margin-right: 80px;
            padding-bottom: 10px;
        }
    }
    a:last-child {
        background-image: url(../images/icons/envelope.png);
    }
    @media (max-width: 768px) {
        div {
            flex-direction: column;
            a:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}
.why_buy {
    background: #e7eae9;
    padding: 80px;
    margin-top: 70px;
    text-align: center;
    .why_slider {
        .swiper-slide {
            min-height: initial;
            @media (max-width:480px) {
                padding: 0 10px;
            }
        }
    }
    @media (max-width: 992px) {
        padding: 50px 30px;
    }
    @media (max-width: 768px) {
        padding: 50px 0px;
    }
    h2 {
        font-size: 6.875rem;
        margin-bottom: 60px;
        @media (max-width: 1200px) {
            font-size: 5.875rem;
        }
        @media (max-width: 768px) {
            padding: 0 15px;
        }
        @media (max-width: 576px) {
            font-size: 3.875rem;
            line-height: 1;
            margin-bottom: 30px;
        }
    }
    img {
        max-width: 110px;
        max-height: 110px;
        object-fit: contain;
        margin-bottom: 50px;
    }
}
.maping {
    margin: 100px auto;
    @media (max-width: 768px) {
        margin-bottom: 50px;
        margin-top: 30px;
    }
    @media (max-width: 576px) {
        margin-bottom: 30px;
    }
    .map_block {
        left: -30px;
        position: relative;
        @media (max-width: 991px) {
            left: 0;
            margin-bottom: 20px;
        }
        div {
            margin-top: 35px;
            img {
                max-width: 210px;
            }
        }
    }
    .map_points {
        p:not(:last-child) {
            margin-bottom: 30px;
            @media (max-width: 480px) {
                margin-bottom: 15px;
            }
        }
        p{
            font-size: 22px;
            padding-left: 50px;
            background: url(../images/icons/complete.png) no-repeat left;
            @media (max-width: 480px) {
                font-size: 18px;
            }
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
}
.finance_planner {
    .about_brean {
        margin-top: 70px;
        h2 {
            font-size: 6.875rem;
            @media (max-width: 992px) {
                font-size: 5.875rem;
                text-align: center;
            }
            @media (max-width: 768px) {
                font-size: 3.875rem;
            }
            @media (max-width: 576px) {
                font-size: 3rem;
            }
            @media (max-width: 480px) {
                font-size: 2.5rem;
            }
            @media (max-width: 380px) {
                font-size: 2.2rem;
            }
        }
        span {
            padding:10px 0px 10px 50px;
            background: url(../images/icons/location.png) no-repeat left;
            @media (max-width: 576px) {
                font-size: 1rem;
                line-height: normal;
            }
            @media (max-width: 480px) {
                margin-bottom: 10px;
            }
        }
    }
    h2 {
        line-height: 0.8;
        margin-bottom: 15px;
        @media (max-width: 576px) {
            font-size: 3rem;
        }
        @media (max-width: 480px) {
            font-size: 2.5rem;
        }
        @media (max-width: 380px) {
            font-size: 2.2rem;
        }
    }
    .planner_subtitle{
        @media (max-width: 576px) {
            font-size: 1rem;
            line-height: normal;
        }
        @media (max-width: 480px) {
            margin-bottom: 10px;
        }
    }
    .prices_block {
        background: #e7eae9;
        @media (max-width: 480px) {
            padding: 20px!important;
        }
    }
    .prices {
        p {
            font-size: 22px;
            display: flex;
            @media (max-width: 480px) {
                font-size: 18px;
            }
            span {
                max-width: 190px;
                width: 100%;
            }
            strong {
                margin-left: 45px;
                @media (max-width: 380px) {
                    margin-left: 20px;
                }
            }
        }
        p:last-child{
            margin-bottom: 0;
        }
    }
}
.key-features {
    margin-bottom: 50px;
    @media (max-width: 480px) {
        margin-bottom: 30px;
    }
    .features_left, .features_right {
        @media (max-width: 480px) {
            width: 100%;
            max-width: 100%;
        }
    }
    .key-parrent {
        background: #ede6d9;
        h2 {
            line-height: normal;
            margin-bottom: 0;
            @media (max-width: 768px) {
                font-size: 3rem;
            }
        }
        .features_subtitle {
            @media (max-width: 768px) {
                font-size: 1.1rem;
            }
        }
        padding: 60px;
        @media (max-width: 1200px) {
            padding: 30px 0 30px 30px;
        }
        @media (max-width: 768px) {
            padding: 20px 0 20px 15px;
        }
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }
    .features-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }
    .swiper-slide {
        min-height: auto;
    }
    .swiper-wrapper {
        align-items: baseline;
        padding-bottom: 15px;
    }
    .features-next {
        display: none;
        @media (max-width: 1200px) {
            display: block;
        }
    }
    .key-item {
        font-size: 12px;
        text-align: center;
        line-height: normal;
        span {
            max-width: 100px;
        }
        img {
            max-height: 90px;
            object-fit: contain;
            margin-bottom: 20px;
        }
    }
}
.detail {
    h1 {
        color: #a48242;
        @media (max-width: 768px) {
            font-size: 5.875rem;
        }
        @media (max-width: 576px) {
            font-size: 4.875rem;
            line-height: 1!important;
        }
        @media (max-width: 480px) {
            font-size: 3.875rem;
        }
        @media (max-width: 380px) {
            font-size: 3rem;
        }
    }
    .detail_header {
        display: flex;
        align-items: flex-start;
    }
    .coming_button {
        margin-top: 25px;
        margin-left: 30px;
    }
    .coming_button:hover {
        border: 1px solid #002b49;
    }
}
.all_in_detail {
    margin-bottom: 50px;
    @media (max-width: 576px) {
        margin-bottom: 30px;
    }
    h2{
        margin-bottom: 0;
        line-height: normal;
        @media (max-width: 576px) {
            font-size: 3rem;
        }
        @media (max-width: 480px) {
            font-size: 2.5rem;
        }
        @media (max-width: 380px) {
            font-size: 2.2rem;
        }
    }
    span {
        @media (max-width: 576px) {
            font-size: 1rem;
            line-height: normal;
        }
        @media (max-width: 480px) {
            margin-bottom: 10px;
        }
    }
    div {
        @media (max-width: 480px) {
            font-size: 1.2rem;
        }
    }
}
.coming_button {
    border: 1px solid #002b49;
    font-family: 'FuturaHeavy';
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 10px;
    font-size: 14px;
    color: #002b49;
}
.search_form {
    background: #ede6d9;
    padding: 40px 15px;
    margin-bottom: 50px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: -40px;
        width: 80px;
        height: 40px;
        background: url(../images/icons/down.png) no-repeat;
        background-size: contain;
    }
    .search_form_parent {
        @media (max-width: 991px) {
            width: 100%;
        } 
    }
    form {
        width: 100%;
        @media (max-width: 991px) {
            flex-direction: column;
        }
        .mobile_filter {
            background: white;
            border: 1px solid #80918e;
            width: 100%;
            font-weight: bold;
            padding: 25px 15px;
            margin-bottom: 25px;
        }
    }
    p {
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 35px;
        text-align: center;
        @media (max-width: 576px) {
            margin-bottom: 20px;
            letter-spacing: 4px;
        }
    }
    select {
        margin-right: 20px;
    }
}
.search_results {
    margin-bottom: 60px;
    div {
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }
    p {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 0;
        span {
            margin-right: 10px;
        }
        @media (max-width: 768px) {
            margin-right: 40px;
        }
        @media (max-width: 480px) {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    select {
        text-transform: initial;
    }
}
.color-mutegreen {
    color: rgb(16, 46, 47);
}
.search_results_item {
    .descriptiopn_wrapper {
        @media (max-width: 1300px) {
            flex-direction: column;
            align-items: flex-start!important;
            margin-bottom: 20px;
        }
    }
    .sold_icon {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        z-index: 1;
        @include sm{
            width: 80px;
            height: 80px;
        }
    }
    .results_item {
        margin-bottom: 95px;
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
        @media (max-width: 576px) {
            margin-bottom: 30px;
        }
    }
    .results_item.featured {
        .featured_icon {
            position: absolute;
            z-index: 1;
            top: -13px;
            left: -14px;
        }
        .show_items {
            background: #e5e9ec;
            a{
                background: url(../images/icons/arrow_right_green.png) no-repeat right;
            }
        }
        .search_next, .search_prev {
            background: rgb(16, 46, 47);
            &:hover {
                background: #a48242;
            }
        }
        .color-mutegreen {
            color: rgb(16, 46, 47);
        }
        .button.featured {
            background: rgb(16, 46, 47);
            &:hover {
                background: white;
                color: rgb(16, 46, 47);
            }
        }
    }
    .result_items_title {
        font-size: 45px;
        font-family: 'Stanley';
        line-height: 1;
        margin-bottom: 15px;
        @media (max-width: 480px) {
            font-size: 38px;
        }
        @media (max-width: 380px) {
            font-size: 32px;
        }
    }
    .standart_item {
        a {
            &:hover {
                color: #a48242;
            }
        }
    }
    .results_item_description {
        a {
            text-decoration: underline;
        }
        .coming_button {
            &:hover {
                border: 1px solid #002b49;
            }
            margin-bottom: 20px;
        }
        .description_text {
            max-width: 500px;
            margin-right: 50px;
            @media (max-width: 991px) {
               max-width: 100%;
               margin-right: 0;
            }
            @media (max-width: 480px) {
                font-size: 16px;
            }
        }
        .description_options {
            p {
                display: flex;
                align-items: center;
                strong {
                    margin-right: 10px;
                }
                img {
                    margin-right: 20px;
                }
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
        .show_items {
            background: #ede6d9;
            padding-left: 20px;
            @media (max-width: 576px) {
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
                margin: 0 -15px;
                * {
                    flex-direction: column;
                    width: 100%;
                }
                *:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
            strong {
                font-size: 28px;
                margin-right: 80px;
                @media (max-width: 768px) {
                    margin-right: 20px;
                 }
                 @media (max-width: 576px) {
                    margin-right: 0;
                }
            }
            a {
                color: #a48242;
                text-transform: uppercase;
                font-weight: bold;
                padding-right: 25px;
                font-size: 16px;
                background: url(../images/icons/arrow_right.png) no-repeat right;
            }
            button {
                @media (max-width: 576px) {
                    width: 100%;
                }
            }
            .button.sold {
                background: rgb(146, 36, 47);
                &:hover {
                    color: rgb(146, 36, 47);
                    background: white;
                }
            }
        }
        @media (max-width: 991px) {
            margin-top: 20px;
        }
    }
    .search_slider {
        .swiper-item {
            max-height: 320px;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .search_next, .search_prev{
            position: absolute;
            bottom: 0;
            height: 35px;
            width: 35px;
            cursor: pointer;
            @include sm {
                height: 50px;
                width: 50px;
            }
        }
        .search_next { right: 0; }
        .search_prev { left: 0; }
    }
}
@media (max-width: 768px) {
    .why_buy .container-fluid, .search_form .container-fluid {
        padding: 0;
    }
}
@media (max-width: 576px) {
    .back_block .container-fluid, .detail .container-fluid, .detail_slider_section .container-fluid, .all_in_detail .container-fluid, .key-features .container-fluid, .finance_planner .container-fluid, .brilliant-holiday .container-fluid, .maping .container-fluid, .bottom_slider_wrapper .container-fluid, .social .container-fluid, .search_results_item .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}