@font-face {
    font-family: "FuturaBook";
    src: url("../fonts/FuturaPT-Book.woff") format("woff"),
    url("../fonts/FuturaPT-Book.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "FuturaHeavy";
    src: url("../fonts/FuturaPT-Heavy.woff") format("woff"),
    url("../fonts/FuturaPT-Heavy.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Stanley";
    src: url("../fonts/stanley-webfont.woff") format("woff"),
    url("../fonts/stanley-webfont.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}