.footer{
  flex: 0 0 auto;
  margin-top: 42px;
  @include xl {
    margin-top: 63px;
  }
  a{
    font-size: 20px;
    @include sm{
      font-size: 40px;
    }
  }
  &-top{
    padding: 30px 0;
    font-size: 20px;
    line-height: 26px;
    @include sm {
      padding: 55px 22px 45px;
    }
    @include lg{
      padding: 50px 58px 60px;
    }
  }
  &-bottom{
    padding: 30px 0;
    @include sm {
      padding: 40px 35px 45px;
    }
  }
  h3{
    font-size: 22px;
    @include sm {
      font-size: 1.875rem;
      line-height: 2.625rem;
    }
  }
}
.copyright{
  font-size: 0.875rem;
  line-height: 1.125rem;
}
 