.form-select{
    width: auto;
    min-width: 150px;
    padding: 25px 40px 25px 25px;
    border: 0.5px solid $colorBeigeDark;
    @include xl {
        padding: 12px 40px 11px 15px;
    }
    &:focus{
        border: 0.5px solid $colorBeigeDark;
        box-shadow: none;
    }
}
.form-select, .form-control{
    border-radius: 0;
    color: $colorBeigeDark;
    font-family: $fontHeavy;
    text-transform: $uppercase;
    color: $colorBeigeDark;
    font-size: $font16;
}
.form-control{
    padding: 25px;
    @include xl {
        padding: 15px;
    }
}