.social-link{
    color: $colorBeigeDark;
    transition: .3s linear;
    svg{
        fill: $colorBeigeDark;
    }
    &:hover{
        color: $colorText;
        svg{fill:$colorText}
    }
}
.text-block{
    line-height: 26px;
}
.find-your-next{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.hero{
    position: relative;
    &-bottom{
        display: flex;
        flex-direction: column;
        @include sm{
            z-index: 1;
            margin-top: -260px;
        }
        @include xl {
            justify-content: flex-end;
            flex-direction: row;
            margin-top: 0;
        }
    }
    &-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 0;
        @include sm {
            max-width: 568px;
            padding: 60px 65px 68px 38px;
        }
        @include xl {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 60px 65px 75px 38px;
            z-index: 1;
        }
    }
    &-right{
        width: calc(100% + 3.4rem);
        align-self: flex-start;
        margin-right: -1.75rem;
        margin-left: -1.75rem;
        max-width: 150%;
        @include xl {
            width: 100%;
            max-width: 870px;
            margin-right: 0;
            margin-left: 0;
        }
    }
    &-text{
        width: 100%;
        padding: 44px 35px 0;
        @include xl {
            padding: 45px 0 0;
            margin-bottom: -12px;
            width: calc(100% - 58px);
        }
        p{
            position: relative;
            z-index: 3;
        }
    }
    &-form{
        padding: 0 35px 36px;
        position: relative;
        z-index: 2;
        @include xl{
            padding: 40px 35px 35px;
        }
    }
}
.brilliant-holiday{
    padding: 55px 0 42px;
    @include lg{padding: 101px 0 106px;}
    h2{
        margin-bottom: 20px;
    }
    &-text{
        flex: 1;
        @include lg{
            padding: 0 50px 0 13px;
        }
    }
    .text-block{
        margin-bottom: 36px;
        @include lg{
            margin-bottom: 43px;
        }
    }
    .img{
        &-block{
            width: 100%;
            margin-bottom: 30px;
            &>img{max-height: 400px;}
            @include sm {
                padding:  0 32px;
                margin-bottom: 186px;
            }
            @include lg{
                left: -30px;
                padding: 0;
                width: 615px;
                margin-bottom: 0;
            }
        }
        &-absolute{
            width: 100%;
            @include sm {
                position: absolute;
                right: 85px;
                width: 100%;
                max-width: 333px;
                bottom: -170px;
            }
            @include lg{
                bottom: -167px;
                right: 55px;
            }
        }
    }
}
.sing-up{
    padding: 12px 18px 38px;
    @include xl{
        padding: 85px 50px 55px 60px;
    }
    form{
        @include xl{
            padding-top: 20px;
            padding-left: 25px;
        } 
    }
}
.why-choose{
    padding: 34px 0 87px;
    h2{min-width: 300px;}
    @include lg{
        padding: 127px 0 128px;
        .container-fluid{
            padding-left: 48px;
        }
        .sub-title{
            margin-bottom: 30px;
        }
    }
    &-items{
        justify-content: flex-end;
        margin-top: 50px;
        @include sm {
            padding-left: 50px;
            margin-top: 0;
        }
        @include xl{
            padding-top: 8px;
            padding-left: 20px;
        }
    }
    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        font-size: 11px;
        line-height: 14px;
        color: $colorBeigeDark;
        text-transform: $uppercase;
        span{
            display: block;
            margin-top: 29px;
            letter-spacing: 2px;
        }
    }
}
.endless-holiday{
    .img-absolute{
        position: relative;
        
        @include sm {
            z-index: -1;
            margin-top: -3rem;
        }
    }
}
.arrange_a_visit{
    padding: 19px 20px 38px;
    @include lg {
        padding: 38px 61px 59px
    }
    .text-block{
        @include lg{
            padding: 30px 70px 0 17px
        }
    }
}
.get-in-touch{
    padding: 28px 0;
    @include lg {
        padding: 42px 53px 0;
    }
    form{
        padding-top: 30px;
        &>.col{
            width: 100%;
            max-width: 505px;
            margin: 0 auto;
            @include lg{
                max-width: 100%;
            }
        }
        @include sm {
            padding: 54px 0 0;
        }
        @include lg {
            padding: 28px 8px 0 15px;
        } 
    }
    .sub-title{
        margin-bottom: 20px;
        @include sm {
            margin-top: 4px;
            padding: 0 3px;
            margin-bottom: 27px;
        }
    }
    input.form-control, 
    select.form-select{
        width: 100%;
        margin-bottom: 28px;
        @include lg {
            width: calc(50% - 21px);
            margin-bottom: 33px;
            margin-right: 21px;
        }
    }
    textarea{
        width: 100%;
        max-width: 636px;
        min-height: 100px;
        margin-bottom: 24px;
        @include sm {
            min-height: 307px;
        }
        @include lg {
            margin-bottom: 33px;
            min-height: 100px;
        }
    }
    .form-check{
        width: 100%;
        @include sm {
            width: 200px;
        }
        @include lg {
            width: auto;
            margin-right: 34.5px!important;
        }
    }
    .button[type="submit"]{
        margin: 15px 15px 0 0;
        @include lg {margin: 5px 28px 0 0; }
    }
}