.swiper{
    overflow: hidden;
    position: relative;
    &-slide{
        display: flex;
        justify-content: center;
        overflow: hidden;
        
        img{
            width: auto;
            height: auto;
        }
        
    }
}
.HeroSwiper{
    max-height: 480px;
    img{
        width: 100%;
    }
    .swiper-slide{
        min-height: 200px;
        @include sm {
            min-height: 555px;
        }
        @include xl{
            min-height: 480px;
        }
    }
}
.btn{
    &-next, &-prev{
        display: block;
        width: 68px;
        height: 70px;
        background: $colorBeigeDark;
        position: relative;
        position: absolute;
        z-index: 2;
        outline: none!important;
        transition: 0.3s linear;
        &.dark{
            background: $colorText;
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 60px;
            content: '▸';
            background-repeat: no-repeat;
            background-size: 100%;
            color: $colorWhite;
        }
        &:hover{
            background: $colorText
        }
    }
    &-prev{
        &::after{
            transform: translate(-50%, -50%) scale(-1, 1);
        }
    }
}
.swiper-button-disabled{display: none;}
.hero-next, .hero-prev{
    top: 140px;
    @include xl{
        top: 70px;
    }
}
.hero-prev{
    left: 0;
}
.hero-next{
    right: -0;
}
.choose-prev, .included-prev{display: none;}
.choose-next, .included-next{
    right: -9px;
    top: 0;
    @include xl{display: none;}
}