header{
    padding: 22px 0;
    flex: 0 0 auto;
    position: relative;
    background-color: $colorWhite;
}
.logo-header{
    width: 100%;
    max-width: 185px;
}
.navbar-toggler{
    @include xl {display: none;}
}